@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alata&family=Caveat:wght@700&family=Edu+NSW+ACT+Foundation:wght@700&family=Itim&family=Kalam:wght@400;700&family=Kanit:wght@300&family=Kurale&family=Laila:wght@400;700&family=Libre+Baskerville&family=Merriweather&family=Niconne&family=Nosifer&family=Oleo+Script&family=Oooh+Baby&family=Pacifico&family=Philosopher:wght@700&family=Poppins:wght@700&family=Sacramento&family=Shrikhand&family=Signika+Negative:wght@600;700&family=Tenali+Ramakrishna&family=Ysabeau+Infant:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body p{
    letter-spacing: 0.8px;
    font-size: 1.2rem;
    font-family: 'Ysabeau Infant', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 0.2rem;
    letter-spacing: 0.8px;
}
hr.hr{
    border: 2px solid #D64933;
}
.top-header{
    height: 10rem;
    background-color: aqua;
}
.home-page-back-img{
    height: 100vh;
    width: 100%;
}
.logo h4{
    font-family: 'Poppins', sans-serif;
}
.logo h4 span{
    color: #8C52FF;
}
.logo i{
    position: fixed;
    right: -10rem;
    color: black;
    font-size: 2rem;
}
header{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: -0.5rem;
    width: 100%;
    background:  rgba(75, 75, 75, 0.55);
    background-color: white;
    box-shadow: 0px -12px 15px black;
}
.nav1{
    margin-top: 0.5rem;
    height: 3rem;
}
.nav1 i{
    position: absolute;
    right: -10rem;
    color: white;
    font-size: 2rem;
}
.nav1 ul {
    display: flex;
}
.nav1 ul li{
    transition: 0.5s;
}
.nav1 ul li a{
    padding: 1.2rem;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
    transition: 0.6s;
}
.nav1 ul li:hover{
    transform: translateY(-8px);
    scale: 1.01;
}
.get-free-quote,.header-phone{
    border-radius: 6px;
    box-shadow: 0px 0px 2px black;
    animation: boxshadow 4s infinite;
}
.header-phone{
    margin-left: 1.4rem;
}
@keyframes boxshadow {
    0%{
        box-shadow: 0px 0px 2px black;
        scale: 1;
    }
    25%{
        box-shadow: 0px 0px 6px red;
        scale: 1.01;
    }
    50%{
        box-shadow: 0px 0px 10px #04AA6D;
        scale: 1.02;
    }
    75%{
        box-shadow: 0px 0px 6px #EA9010;
        scale: 1.01;
    }
    100%{
        box-shadow: 0px 0px 2px blue;
        scale: 1;
    }
}


.section-margin-top{
    position: absolute;
    top: 4.5rem;
    width: 100%;
    height: 100vh;
}
.home-display-content{
    height: 80%;
    line-height: 2rem;
    letter-spacing: 1px;
    font-size: 1.1rem;
    /* background-color: rgb(250, 251, 251); */
}
.section1-left{
    width: 40%;
    padding: 1rem;
}
.section1-left h1 , .section1-left h4{
    font-family: 'Signika Negative', sans-serif;
}
.section1-left .social-icons a i{
    transition: 0.5s;
}
.section1-left .social-icons a i:hover{
    color: #D64933;
    transform: translateY(-10px);
}
.left-headings1{
    width: 0rem;
    overflow: hidden;
    word-wrap: none;
    border-right: 3px solid red;
    animation: typing 3.6s infinite steps(3);
}

@keyframes typing {
    0%{
        width: 0%;
    }
    10%{
        width: 10%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 30%;
    }
    40%{
        width: 40%;
    }
    50%{
        width: 40%;
    }
    60%{
        width: 40%;
    }
    70%{
        width: 30%;
    }
    80%{
        width: 20%;
    }
    90%{
        width: 10%;
    }
    100%{
        width: 0%;
    }
}
.section2-right{
    width: 35%;
    color: white;
    padding: 1rem;
}
.home-services{
    width: 100%;
    margin: 1rem auto;
}
.web-logo img , .domain-logo img{
    width: 5rem;
    margin: 0.6rem auto;

}
.section1-service,.section2-service{
    width: 30%;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    transition: 0.3s;
    letter-spacing: 0.8px;
    border-radius: 3%;
    box-shadow: 0px 0px 4px #04AA6D;
}
.section1-service:hover,.section2-service:hover{
    background-color: #EA9010;
    color: white;
}
.section1-service h3,.section2-service h3{
    color: #1E212B;
}
.why-choose-us{
    width: 95%;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
}
.why-choose-us h4,.our-devlp-process h4,.ourServices-head{
    color: blue;
}
.our-devlp-process{
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    width: 18rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
}
/* FAQ styles */
.faq-container{
    width: 65%;
    margin: 2rem auto;
}
.faq-heading{
    color: blue;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 700;
    margin: 0.6rem 0rem;
    font-family: 'Signika Negative', sans-serif;
    letter-spacing: 1px;
  }
  .active, .accordion:hover {
    background-color: #ccc;
  }
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2212";
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-weight: 600;
  }

/* Call button */
.call-to-retro-labs-btn a{
    font-family: 'Ysabeau Infant', sans-serif;
}

/* About Page Styles */
.about-back-img,.service-back-img,.project-back-img,.contact-back-img{
    padding-top: 4rem;
    margin: 0.3rem auto;
    width: 40%;
    height: 100vh;
}
.about-back-img img,.service-back-img img,.project-back-img img,.contact-back-img img{
    width: 90%;
}
.about-main-right-content,.service-main-right-content,.project-main-right-content,.contact-main-right-content{
    z-index: 1;
    width: 40%;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 4rem;
}
.about-content-container{
    text-align: center;
    width: 90%;
    margin: 2rem auto;
}

/* Team Members */
.team-container{
    width: 85%;
    margin: 2rem auto;
}
.member-card{
    padding: 1rem;
    width: 30%;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0px 0px 6px black;
}
.member-card:hover{
    scale: 1.02;
}
.member-card img{
    margin-bottom: 1rem;
    width: 100%;
}
.member-card button{
    width: 100%;
}

/* Services Page Styles */
.services-content-container{
    width: 100%;
    text-align: center;
    margin: 1rem auto;
}
.services-container{
    width: 45%;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}
.services-container h4{
    color: #D64933;
}
.services-container img{
    width: 6rem;
    /* height: rem; */
    object-fit: cover;
    border-radius: 10px;
}
.services-lets-begin-content,.our-services-heading{
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}
.our-services-heading{
    margin-top: 6rem;
}

/* Project Page Styles */
.project-content-container{
    width: 90%;
    text-align: center;
    margin: 2rem auto;
}
.project-section4 img{
    width: 100%;
}
.project-card{
    text-align: center;
    width: 20rem;
    height: 30rem;
    margin: 3rem auto;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.6s;
    padding: 1rem;
    box-shadow: 0px 0px 10px #EA9010;
}
.project-card:hover{
    scale: 1.03;
}
.project-card a{
    font-family: 'Ysabeau Infant', sans-serif;
    padding: 0.6rem 2.6rem;
    background-color: rgb(78, 78, 255);
    border-radius: 4px;
    color: white;
    transition: 0.8s;
}
.project-card a:hover{
    background: transparent;
    color: black;
    border: 2px solid rgb(78, 78, 255);
}
.mySlides {
    display: none;
    border: 3px solid black;
    border-radius: 6px;
    overflow: hidden;
}
.mySlides img {
    vertical-align: middle;
    height: 26rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  font-family: 'Ysabeau Infant', sans-serif;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: 'Ysabeau Infant', sans-serif;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

.project-section5{
    box-shadow: 0px 0px 10px #EA9010;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    margin: 2rem auto;
}
.quotes-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .quotes-slides{
    display: none;
    padding: 80px;
    text-align: center;
  }
  .quotes-slides q{
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  
  /* Next & previous buttons */
  .quotes-prev, .quotes-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    text-decoration: none;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .quotes-next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .quotes-prev:hover, .quotes-next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .quotes-dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .quotes-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .quotes-dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .quotes-author {color: cornflowerblue;font-size: 1.2rem;}



  .project-clients-container marquee{
    display: flex;
  }
  .project-clients-container marquee img{
    width: 30%;
    margin: 1rem;
    transition: 0.5s;
  }
  .project-clients-container marquee img:hover{
    scale: 1.1;
  }

/* Contact Page Styles */
.contact-details{
    word-wrap: break-word;
    padding: 1.5rem;
    border-radius: 6px;
    border:  2px solid black;
    width: 60%;
    margin: 2rem auto;
    box-shadow: 0px 0px 4px black;
}
.contact-details p{
    font-size: 1.3rem;
}
.contact-form-container form{
    padding: 1.5rem;
    width: 60%;
    margin: 3rem auto;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0px 0px 4px black;
}
.contact-form-container form label{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.2rem;
}
.contact-form-container form input, textarea,input[type=email]  {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    outline: none;
    font-family: 'Ysabeau Infant', sans-serif;
  }
  #textarea{
    font-family: 'Ysabeau Infant', sans-serif;
  }
  .contact-form-container form input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem auto;
    font-family: 'Ysabeau Infant', sans-serif;
  }
  .contact-form-container form input[type=submit]:hover {
    background-color: #45a049;
  }
  .contact-form-container form input:focus,textarea:focus{
    border: 1px solid blue;
    box-shadow: 0px 0px 6px blue;
  }

/* Whats App Icon */
.whats-app{
    z-index: 100;
    position: fixed;
    bottom: 4.5rem;
    right: 1.5rem;
    border: 50%;
    font-size: 3rem;
    animation: btn-animations 4s infinite;
}
.whats-app a i{
    color: rgb(86, 255, 86);
}

/* Top Bnt */
.top-btn{
    z-index: 100;
    display: none;
    width: 2.6rem;
    height: 2.6rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    border: 50%;
    outline: none;
    border: none;
    background-color: orange;
    color: black;
    font-size: 1.5rem;
    border-radius: 6px;
    animation: btn-animations 4s infinite;
}
.top-btn i{
    color: black;
}

/* Footer styles */
footer{
    background-color: #140b5c;
    padding: 2rem 0.2rem;
    color: white;
}
footer .footer{
    width: 40rem;
    text-align: center;
}
footer h3{
    color: springgreen;
}
footer ul {
    text-align: start;
}
footer ul li{
    transition: 0.5s;
}
footer ul li a{
    font-family: 'Ysabeau Infant', sans-serif;
}
footer ul li:hover{
    transform: translateX(6px);
}
.footer-contact-us label{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Ysabeau Infant', sans-serif;
}
.footer-social-media button, .project-main-right-content button,.about-main-right-content button,.service-main-right-content button,.contact-main-right-content button{
    background: transparent;
    outline: none;
    border: none;
}
.footer-social-media button a , .project-main-right-content button a ,.about-main-right-content button a,.service-main-right-content button a,.contact-main-right-content button a{
    padding: 0.2rem 0.6rem;
    border:  2px solid #258;
    border-radius: 4px;
    transition: 0.6s;
    font-family: 'Ysabeau Infant', sans-serif;
}
.footer-social-media button a:hover , .project-main-right-content button a:hover, .about-main-right-content button a:hover,.service-main-right-content button a:hover,.contact-main-right-content button a:hover{
    background-color: #258;
    color: white;
    box-shadow: 0px 0px 10px white;
}
.social-icons {
    margin-top: 1.2rem;
}
.social-icons a i{
    font-size: 2rem;
    margin: 0.1rem 0.4rem;
}
.social-icons a i:hover{
    color: deepskyblue;
}
.copyright-container{
    background-color: #2b2b2b;
    color: white;
}

/* The Modal (background) */
.welcome-message{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 2rem;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 50%; 
    height: 50%;
  }
  #myModal{
    top: 20%;
    left: 15%;
    width: 70%; 
    transition: 0.5s;
  }
  .modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: 15% auto; 
    text-align: center;
    padding: 20px;
    overflow: auto;
    border: 1px solid #888;
  }
  .modal-content p{
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    color: #aaa;
    right: 0.6rem;
    top: 0rem;
    font-size: 28px;
    font-weight: bold;
  } 
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Button Animation */
@keyframes btn-animations {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}

/* Mobile & Tab Responsive */
@media (min-width:300px) and (max-width:874px) {
    header{
        left: -0.5rem;
    }
    .nav1{
        position: absolute;
        width: 100%;
        top: 2.7rem;
        height: 0rem;
        overflow: hidden;
        left: 0rem;
        text-align: center;
        transition: 0.5s;
        z-index: -10;
        background-color: rgb(140, 140, 140);
    }
    .logo i{
        top: 0.5rem;
        right: 1rem;
    }
    .nav1 i{
        top: 1rem;
        right: 1rem;
    }
    .nav1 ul{
        flex-direction: column;
    }
    .nav1 ul li{
        padding: 1rem;
    }
    .nav1 ul li a{
        color: white;
    }
    .header-phone{
        margin-left: 0rem;
    }
    .left-headings h2, .left-headings h4{
        font-size: 1.4rem;
    }
    .home-display-content{
        margin-top: 5rem;
        margin-bottom: 3rem;
        flex-direction: column;
    }
    .section1-left,.section2-right{
        width: 85%;
        padding: 0rem;
        margin: 0;
        line-height: 26px;
        padding: 0;
    }
    .home-services{
        flex-direction: column;
        align-items: center;
    }
    .ourServices-head{
        margin-top: 5rem;
    }
    .section1-service,.section2-service{
        width: 95%;
        padding: 0.8rem;
        color: black;
        margin: 1.5rem 0rem;
    }
    .why-choose-us{
        width: 95%;
        padding: 1rem;
        margin: 0.5rem 0rem;
    }
    .our-devlp-process{
        padding: 1rem;
        width: 18rem;
    }

    /* About Page Styles */
    .about-main-background,.services-main-background,.project-main-background,.contact-main-background{
        flex-direction: column;
        justify-content: space-around;
    }
    .about-back-img,.service-back-img,.project-back-img,.contact-back-img{
        height: 60vh;
        width: 80%;
        margin: 0rem auto;
    }
    .about-back-img img,.service-back-img img,.project-back-img img,.contact-back-img img{
        width: 95%;
    }
    .about-main-right-content,.service-main-right-content,.project-main-right-content,.contact-main-right-content{
        padding: 1rem;
        width: 95%;
        margin-right: 0rem;
    }
    .about-content-container{
        width: 85%;
        margin: 1rem auto;
    }
    .team-container{
        width: 90%;
        margin: 1rem auto;
    }
    .team-members{
        gap: 3rem;
        margin: 1rem auto;
        flex-direction: column;
    }
    .member-card{
        width: 95%;
        padding: 0rem; 
        margin: 1rem auto;
    }
    .member-details-container p button{
        width: 80%;
    }

    /* Services Page Styles */
    .services-content-container{
        width: 95%;
        margin-top: 10rem;
        flex-direction: column;
    }
    .services-container{
        width: 90%;
        margin: 1rem auto;
        padding: 0.5rem;
    }
    .services-lets-begin-content{
        width: 95%;
    }

    /* Projects Page Styles */
    .project-content-container{
        width: 90%;
    }
    .mySlides img {
        height: 20rem;
    }
    .slideshow-container {
        max-width: 100%;
      }
      .project-section5{
        width: 95%;
    }
    .project-clients-container marquee img{
        width: 50%;
        margin: 1rem;
        transition: 0.5s;
      }
    /* Contact Us Page Styles */
    .contact-form-container form,.contact-details{
        width: 95%;
    }
    .faq-container{
        width: 95%;
        margin: 2rem auto;
    }
    #myModal{
        width: 96%;
        left: 2%;
    }
    footer{
        flex-direction: column;
    }
    footer .footer{
        width: 90%;
        margin: 1rem auto;
    }
    footer ul {
        text-align: center;
    }
}

@media (max-width: 1170px) and (min-width:875px){
    header{
        left: -0.5rem;
    }
    .nav1{
        position: absolute;
        width: 100%;
        top: 2.7rem;
        height: 0rem;
        overflow: hidden;
        left: 0rem;
        text-align: center;
        transition: 0.5s;
        z-index: -10;
        background-color: rgb(140, 140, 140);
    }
    .logo i{
        top: 0.5rem;
        right: 1rem;
    }
    .nav1 i{
        top: 1rem;
        right: 1rem;
    }
    .nav1 ul{
        flex-direction: column;
    }
    .nav1 ul li{
        padding: 1rem;
    }
    .nav1 ul li a{
        color: white;
    }
    .header-phone{
        margin-left: 0rem;
    }
}
/* Destop Responsive */
@media (max-width: 1290px) and (min-width:875px){
    .home-page-back-img{
        height: 50vh;
    }
    .section-margin-top{
        top: 0.5rem;
        height: 45vh;
    }
    .why-choose-us{
        width: 90%;
        padding: 1rem;
        margin: 0.5rem auto;
    }
    .our-devlp-process{
        width: 18rem;
        padding: 1rem;
        margin: 0.5rem auto;
    }
    .faq-container{
        width: 75%;
        margin: 2rem auto;
    }
    .about-main-background,.services-main-background,.project-main-background,.contact-main-background{
        padding: 4rem 0rem 0rem 0rem;
        flex-direction: row;
        justify-content: space-around;
        height: 50vh;
    }
    .about-main-right-content, .project-main-right-content,.service-main-right-content,.contact-main-right-content{
        width: 50%;
        margin-right: 0rem;
    }
    .project-back-img{
        height: 50vh;
        width: 40%;
        margin: 0.3rem auto;
    }
}