@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alata&family=Caveat:wght@700&family=Edu+NSW+ACT+Foundation:wght@700&family=Itim&family=Kalam:wght@400;700&family=Kanit:wght@300&family=Laila:wght@400;700&family=Libre+Baskerville&family=Merriweather&family=Niconne&family=Nosifer&family=Oleo+Script&family=Oooh+Baby&family=Pacifico&family=Philosopher:wght@700&family=Sacramento&family=Shrikhand&family=Signika+Negative:wght@600;700&family=Ysabeau+Infant:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body p{
    letter-spacing: 0.8px;
    font-size: 1.2rem;
    font-family: 'Ysabeau Infant', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bold;
}
hr.hr{
    border: 2px solid #D64933;
}
.home-page-back-img{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./Images/6000388_4_11zon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo h3{
    font-family: 'Akaya Telivigala', cursive;
}
.logo i{
    position: fixed;
    right: -10rem;
    color: white;
    font-size: 2rem;
}
header{
    z-index: 2;
    position: fixed;
    top: 0;
    left: -0.5rem;
    width: 100%;
    backdrop-filter: blur(10px);
    background:  #258 ;
}
.nav1{
    margin-top: 0.5rem;
    height: 3rem;
}
.nav1 i{
    position: absolute;
    right: -10rem;
    color: white;
    font-size: 2rem;
}
.nav1 ul {
    display: flex;
}
.nav1 ul li{
    transition: 0.5s;
}
.nav1 ul li a{
    padding: 1.6rem;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    transition: 0.6s;
}
.nav1 ul li:hover{
    transform: translateY(-6px);
}
.nav1 ul li a:hover , .left-headings h2{
    text-shadow: 0px 0px 10px white;
}
.section-margin-top{
    position: absolute;
    top: 6rem;
    width: 100%;
    height: 100vh;
}
.home-display-content{
    margin-top: 2.5rem;
    height: 80%;
    line-height: 2rem;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.section1-left{
    color: white;
    width: 35%;
    padding: 1rem;
}
.section1-left h2 , .section1-left h4{
    font-family: 'Akaya Telivigala', cursive;
}
.section2-right{
    width: 35%;
    color: white;
    padding: 1rem;
}
.home-services{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 1rem auto;
}

.web-logo img , .domain-logo img{
    width: 5rem;
    margin: 0.6rem 0rem;
}
.section1-service,.section2-service{
    width: 40%;
    padding: 3rem;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
}
.section1-service h3,.section2-service h3{
    color: #D64933;
}

.why-choose-us,.our-devlp-process{
    width: 70%;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
}
.why-choose-us h4,.our-devlp-process h4,.ourServices-head{
    color: #EA9010;
}










/* FAQ styles */
.faq-container{
    width: 65%;
    margin: 2rem auto;
}
.faq-heading{
    color: blue;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 700;
    margin: 0.6rem 0rem;
    font-family: 'Signika Negative', sans-serif;
    letter-spacing: 1px;
  }
  .active, .accordion:hover {
    background-color: #ccc;
  }
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2212";
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-weight: 600;
  }

/* Call button */
.call-to-retro-labs-btn a{
    font-family: 'Ysabeau Infant', sans-serif;
}



/* About Page Styles */

.about-main-background,.project-main-background,.services-main-background,.contact-main-background{
    height: 100vh;
    width: 100%;
}
.about-back-img{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(./Images/about-background\ _6_11zon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.about-main-right-content,.project-main-right-content,.service-main-right-content,.contact-main-right-content{
    width: 30rem;
    position: absolute;
    top: 35%;
    right: 4%;
    font-size: 1.2rem;
    text-align: center;
}
.about-content-container{
    text-align: center;
    width: 70%;
    margin: 2rem auto;
}

/* Team Members */
.team-container{
    width: 60%;
    margin: 2rem auto;
}
.member-card{
    padding: 1rem;
    width: 40%;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0px 0px 6px black;
}
.member-card:hover{
    scale: 1.02;
}
.member-card img{
    margin-bottom: 1rem;
    width: 100%;
}
.member-card button{
    width: 100%;
}



/* Services Page Styles */
.service-back-img{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(./Images/services-background_9_11zon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.service-main-right-content{
    top: 30%;
}
.services-content-container{
    width: 100%;
    text-align: center;
    margin: 1rem auto;
}
.services-container{
    width: 45%;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}
.services-container h4{
    color: #D64933;
}
.services-container img{
    width: 20rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 10px;
}
.services-lets-begin-content,.our-services-heading{
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}
.our-services-heading{
    margin-top: 6rem;
}











/* Project Page Styles */
.project-back-img{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(./Images/project-back-ground_6_11zon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.project-main-right-content{
    top: 38%;
}



/* Contact Page Styles */
.contact-back-img{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(./Images/Contact\ us\ page\ background_8_11zon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.contact-details{
    word-wrap: break-word;
    padding: 1.5rem;
    border-radius: 6px;
    border:  2px solid black;
    width: 60%;
    margin: 2rem auto;
    box-shadow: 0px 0px 4px black;
}
.contact-details p{
    font-size: 1.3rem;
}
.contact-form-container form{
    padding: 1.5rem;
    width: 60%;
    margin: 3rem auto;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0px 0px 4px black;
}
.contact-form-container form label{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.2rem;
}
.contact-form-container form input, textarea,input[type=email]  {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    outline: none;
    font-family: 'Ysabeau Infant', sans-serif;
  }
  #textarea{
    font-family: 'Ysabeau Infant', sans-serif;
  }
  .contact-form-container form input[type=submit]{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem auto;
    font-family: 'Ysabeau Infant', sans-serif;
  }
  .contact-form-container form input[type=submit]:hover {
    background-color: #45a049;
  }
  .contact-form-container form input:focus,textarea:focus{
    border: 1px solid blue;
    box-shadow: 0px 0px 6px blue;
  }









/* Whats App Icon */
.whats-app{
    position: fixed;
    bottom: 4.5rem;
    right: 1.5rem;
    border: 50%;
    font-size: 3rem;
    animation: btn-animations 4s infinite;
}
.whats-app a i{
    color: rgb(86, 255, 86);
}

/* Top Bnt */

.top-btn{
    display: none;
    width: 2.6rem;
    height: 2.6rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    border: 50%;
    outline: none;
    border: none;
    background-color: orange;
    color: black;
    font-size: 1.5rem;
    border-radius: 6px;
    animation: btn-animations 4s infinite;
}
.top-btn i{
    color: black;
}





/* Footer styles */
footer{
    background-color: #140b5c;
    padding: 2rem 0.2rem;
    color: white;
}
footer .footer{
    width: 40rem;
    text-align: center;
}
footer h3{
    color: springgreen;
}
footer ul {
    text-align: start;
}
footer ul li{
    transition: 0.5s;
}
footer ul li a{
    font-family: 'Ysabeau Infant', sans-serif;
}
footer ul li:hover{
    transform: translateX(6px);
}
.footer-contact-us label{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Ysabeau Infant', sans-serif;
}
.footer-social-media button, .project-main-right-content button,.about-main-right-content button,.service-main-right-content button,.contact-main-right-content button{
    background: transparent;
    outline: none;
    border: none;
}
.footer-social-media button a , .project-main-right-content button a ,.about-main-right-content button a,.service-main-right-content button a,.contact-main-right-content button a{
    padding: 0.2rem 0.6rem;
    border:  2px solid #258;
    border-radius: 4px;
    transition: 0.6s;
    font-family: 'Ysabeau Infant', sans-serif;

}
.footer-social-media button a:hover , .project-main-right-content button a:hover, .about-main-right-content button a:hover,.service-main-right-content button a:hover,.contact-main-right-content button a:hover{
    background-color: #258;
    color: white;
    box-shadow: 0px 0px 10px white;
}
.social-icons {
    margin-top: 1.2rem;
}
.social-icons a i{
    font-size: 2rem;
    margin: 0.1rem 0.4rem;
}
.social-icons a i:hover{
    color: deepskyblue;
}
.copyright-container{
    background-color: #2b2b2b;
    color: white;
}



/* The Modal (background) */
.welcome-message{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 2rem;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 50%; 
    height: 50%;
  }
  #myModal{
    top: 20%;
    left: 15%;
    width: 70%; 
    transition: 0.5s;
  }
  .modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: 15% auto; 
    text-align: center;
    padding: 20px;
    overflow: auto;
    border: 1px solid #888;
  }
  .modal-content p{
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    color: #aaa;
    right: 0.6rem;
    top: 0rem;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }











@keyframes btn-animations {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}



@media (min-width:300px) and (max-width:794px) {
    header{
        left: -0.5rem;
    }
    .nav1{
        position: absolute;
        width: 100%;
        top: 2.7rem;
        height: 0rem;
        overflow: hidden;
        left: 0rem;
        text-align: center;
        transition: 0.5s;
        z-index: -10;
        background-color: rgb(140, 140, 140);
    }
    .logo i{
        top: 0.5rem;
        right: 1rem;
    }
    .nav1 i{
        top: 1rem;
        right: 1rem;
    }
    .nav1 ul{
        flex-direction: column;
    }
    .nav1 ul li{
        padding: 1rem;
    }
    .left-headings h2, .left-headings h4{
        font-size: 1.4rem;
    }
    .home-display-content{
        flex-direction: column;
    }
    .section1-left,.section2-right{
        width: 85%;
        padding: 0rem;
        margin: 0;
        line-height: 26px;
        padding: 0;
    }
    .home-services{
        flex-direction: column;
        margin: 0rem;
    }
    .section1-service,.section2-service{
        width: 95%;
        padding: 0.8rem;
        color: black;
    }
    .why-choose-us,.our-devlp-process{
        width: 95%;
        padding: 1rem;
        margin: 0.5rem 0rem;
    }

    /* About Page Styles */
    .about-back-img{
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .about-main-right-content{
        width: 20rem;
        position: absolute;
        top: 45%;
    }
    .about-content-container{
        width: 90%;
    }
    .team-container{
        width: 85%;
    }
    .team-members{
        gap: 3rem;
        flex-direction: column;
    }
    .member-card{
        width: 95%;
    }

    /* Services Page Styles */
    .service-back-img{
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .service-main-right-content{
        width: 20rem;
        position: absolute;
        top: 45%;
    }
    .services-content-container{
        width: 95%;
        margin-top: 10rem;
        flex-direction: column;
    }
    .services-container{
        width: 100%;
    }
    .services-lets-begin-content{
        width: 95%;
    }




    /* Projects Page Styles */
    
    .project-back-img{
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .project-main-right-content{
        width: 20rem;
        position: absolute;
        top: 50%;
    }

    /* Contact Us Page Styles */
    
    .contact-back-img{
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .contact-main-right-content{
        width: 20rem;
        position: absolute;
        top: 50%;
    }
    .contact-form-container form,.contact-details{
        width: 95%;
    }

    .faq-container{
        width: 95%;
        margin: 2rem auto;
    }
    #myModal{
        width: 96%;
        left: 2%;
    }



    footer{
        flex-direction: column;
    }
    footer .footer{
        width: 90%;
        margin: 1rem auto;
    }
    footer ul {
        text-align: center;
    }
}


@media (max-width: 1260px) and (min-width:781px){
    .home-page-back-img{
        height: 40vh;
    }
    .section-margin-top{
        top: 0.5rem;
        height: 45vh;
    }
    .why-choose-us,.our-devlp-process{
        width: 90%;
        padding: 1rem;
        margin: 0.5rem auto;
    }
    .faq-container{
        width: 75%;
        margin: 2rem auto;
    }
}